@font-face {
	font-family: OstrichSansLight;
	src: url(/fonts/ostrich-sans-light.woff) format('woff');
}

@font-face {
	font-family: OstrichSansRegular;
	src: url(/fonts/ostrich-sans-regular.woff) format('woff');
}

*  {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	/* box */
	width: 100%;
	height: 100%;
	margin: 0;

	/* text */
	color: white;
	font-family: OstrichSansLight, arial;
	font-size: 24px;

	/* effects */
	overflow: hidden;

}

@media (max-width: 768px) {
	body {
		font-family: OstrichSansRegular, arial;
	}
}

.home-container {
	/* box */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	/* flex child properties */
	justify-content: space-around;

}

.title {
	/* box */
	display: block;
	margin-top: -15px;
	margin-bottom: -40px;
	padding-top: 40px;

	/* text */
	font-size: 180px;
	text-align: center;
}

.quote {
	/* box */
	padding: 40px 20px;

	/* text */
	font-size: 100px;
	font-style: italic;
	line-height: 1.25;
	text-align: center;
}

.quote-author {
	/* text */
	font-size: 24px;
	font-style: none;
}

@media (max-width: 768px) {
	.title {
		/* box */
		margin-top: -13.5px;
		margin-bottom: -36px;
		padding-top: 40px;

		/* text */
		font-size: 100px;
	}

	.quote {
		/* text */
		font-size: 70px;
	}
}

.background {
	/* box */
	width: 100%;
	height: 100%;

	/* background */
	background-color: rgba(0, 0, 0, 1);
}

.button-main {
	/* box */
	width: 3em;
	margin: 0 auto;
	padding: .15em;
	padding-top: .25em;
	padding-left: .20em;
	border: dotted white 2px;

	/* text */
	font-size: 60px;
	letter-spacing: .15em;
	text-align: center;

	/* effects */
	animation: pulse 10s infinite;
	cursor: pointer;
}

@keyframes pulse {
  0% {
  	/* box */
    border-color: #001F3F;
  }
  50% {
  	/* box */
    border-color: #FF4136;
  }
  100% {
  	/* box */
  	border-color: #001F3F;
  }
}

@media (max-width: 768px) {
	.button-main {
		/* text */
		font-size: 40px;
	}
}

.subpage-title {
	/* box */
	padding: 1em;

	/* text */
	font-size: 60px;
	letter-spacing: .15em;
	text-align: center;
}

@media (max-width: 768px) {
	.subpage-title {
		/* text */
		font-size: 40px;
	}
}

.theories {
	/* box */
	height: 100%;

	/* effects */
	overflow: hidden;
}

.theories-container {
	/* box */
	height: 400px;

	/* effects */
	overflow: scroll;
}

.theory {
	/* box */
	padding: 25px;

	/* text */
	font-size: 32px;	
	letter-spacing: .1em;
	text-align: center;
}

.button {
	/* box */
	display: inline-block;
	padding: 5px 15px;
	border: solid 1px white;

	/* text */
	font-size: 20px;
}

.button:hover {
	/* background */
	background-color: rgba(144, 81, 76, 1);

	/* effects */
	cursor: pointer;
}

@media (max-width: 768px) {
	.button {	
		/* text */
		font-size: 14px;
	}
}

.votes {
	/* box */
	display: inline-block;
	padding: 15px;
}

.author {
	/* text */
	font-family: 
	font-size: 16px;
	font-style: italic;
}

.new-theory-form {
	/* box */
	width: 425px;
	height: 425px;
	margin: 0 auto;
	padding: 25px;
	border: solid 2px white;
	/* text */
	font-size: 32px;
	text-align: center;
}

@media (max-width: 768px) {
	.new-theory-form {
		/* box */
		width: 350px;
		height: 350px;
		padding: 20px;

		/* text */
		font-size: 24px;
	}
}

.new-theory-container {
	/* box */
	width: 100%;
	height: 100%;
}

.new-theory-line {
	/* box */
	margin-top: 15px;
}

.new-theory-content {
	/* box */
	width: 300px;
	height: 100px;
}

.hidden {
	/* box */
	display: none;
}

.back {
	/* box */
	margin-top: .5em;
	border: none;
}

.search {
	/* box */
	width: 18em;
}
